:root {
  /* Colors */
  --color-primary-1: hsl(243, 87%, 12%);
  --color-primary-2: hsl(239, 22%, 44%);

  --color-accent-1: hsl(224, 93%, 58%);
  --color-accent-2: hsl(170, 45%, 43%);

  --color-neutral-1: hsl(240, 75%, 98%);
  --color-neutral-2: hsl(0, 0%, 75%);

  --color-hover-link: hsl(230, 99%, 73%);

  /* Typography */
  --font-size: 16px;
  --font-accent: "Raleway", sans-serif;
  --font-body: "Open Sans", sans-serif;

  /* Breakpoint */
  --mb-breakpoint: 835px;
}

* {
  box-sizing: border-box;
}

body,
html {
  font-size: var(--font-size);
  font-family: var(--font-body);
  margin: 0;
}

/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1.25rem;
  margin-bottom: 4rem;
}

.brand-logo {
  max-width: 80px;
  display: block;
}

.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.navigation__link {
  text-decoration: none;
  color: var(--color-primary-1);
  font-family: var(--font-accent);
}

.navigation__link:hover {
  color: var(--color-hover-link);
}

/* HERO SECTION */

.section {
  display: flex;
  flex-direction: column;
}

.section__img-container {
  width: 100%;
  padding: 1rem 2.5rem;
}

.img--section {
  max-width: 100%;
}

.section__text-container {
  text-align: center;
  padding-top: 0;
  color: var(--color-primary-1);
}

.heading {
  font-weight: 700;
  margin-inline: 1.5rem;
}

.heading--hero {
  font-size: 1.5rem;
}

.copy {
  font-size: 0.9rem;
}

.copy--hero {
  margin: 1rem 2rem;
}

.cta {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin: 1.5rem;
}

.cta__input,
.cta__button {
  font-family: var(--font-accent);
  height: 2.5rem;
  border-radius: 5px;
}

.cta__input {
  padding-left: 1.3rem;
  border: solid 1px var(--color-primary-2);
  color: var(--color-neutral-2);
}

.cta__input:focus {
  color: var(--color-primary-1);
}

.cta__button {
  background-color: var(--color-accent-1);
  color: var(--color-neutral-1);
  border: none;
  font-weight: 700;
  box-shadow: 3px 3px 3px var(--color-neutral-2);
  cursor: pointer;
}

.cta__button:hover {
  filter: brightness(150%);
}

.img--divider-desktop {
  display: none;
}

.img--divider-mobile {
  margin-top: 4rem;
}

/* BENEFITS SECTION */

.section--benefits {
  background-color: var(--color-neutral-1);
  padding-block: 2rem;
}

.heading--benefits {
  font-size: 1rem;
  font-family: var(--font-accent);
  margin-top: 3rem;
}

.copy--benefits {
  margin: 1.5rem;
  text-align: left;
  color: var(--color-primary-2);
}

.copy__link-container {
  display: flex;
  justify-content: center;
}

.copy__link {
  font-size: 0.8rem;
  width: fit-content;
  position: relative;
}

.copy__link::after {
  content: "";
  position: absolute;
  bottom: -0.4rem;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: var(--color-accent-2);
}

.copy__link-text:hover,
.copy__link-icon:hover,
.copy__link:hover::after {
  filter: brightness(130%);
}

.copy__link-text {
  color: var(--color-accent-2);
  text-decoration: none;
  vertical-align: middle;
}

.copy__link-icon {
  vertical-align: middle;
}

.testimonial {
  margin: 2rem 3rem 3rem 3rem;
  padding: 1.5rem 0.75rem 1.5rem 1.5rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 20px lightgrey;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.testimonial__quote {
  font-size: 0.7rem;
  line-height: 1.2rem;
  letter-spacing: 0.015rem;
}

.testimonial__author {
  display: grid;
  width: fit-content;
  grid-template-areas:
    "photo name"
    "photo title";
}

.testimonial__img {
  max-width: 35px;
  border-radius: 50%;
  grid-area: photo;
}

.testimonial__name,
.testimonial__title {
  margin: 0;
  margin-left: 0.5rem;
}

.testimonial__name {
  font-size: 0.7rem;
  font-weight: 700;
  grid-area: name;
  align-self: center;
}

.testimonial__title {
  grid-area: title;
  font-size: 0.5rem;
}

/* CALL-TO-ACTION SECTION */

.section--cta {
  background-color: var(--color-primary-2);
  padding: 3rem;
}

.heading--cta,
.copy--cta {
  color: var(--color-neutral-1);
}

.heading--cta {
  font-family: var(--font-accent);
}

.cta__button--dark-shadow {
  font-size: 0.7rem;
  box-shadow: 1px 1px 3px var(--color-primary-1);
}

/* FOOTER */

.footer {
  background-color: var(--color-primary-1);
  color: var(--color-neutral-1);
  padding: 2rem;
}

.brand-logo--footer {
  margin-block: 2rem 1rem;
  filter: brightness(0) invert(1);
}

.footer__contact {
  display: grid;
  grid-template-columns: minmax(min-content, auto) 1fr;
  align-items: center;
  gap: 1rem;
}

.footer__links {
  list-style: none;
  padding: 0;
  margin-block: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__link {
  text-decoration: none;
  color: var(--color-neutral-1);
}

.footer__link:hover {
  color: var(--color-hover-link);
}

.footer__links--social {
  flex-direction: row;
  justify-content: center;
  margin-block: 2rem 1rem;
}

.footer__link--social {
  padding: 0.5rem;
  border: solid 1px white;
  border-radius: 50%;
}

.footer__icon {
  width: 1rem;
  display: block;
}

.footer__link--social:hover,
.footer__icon:hover {
  filter: brightness(0) invert(47%) sepia(94%) saturate(767%) hue-rotate(205deg)
    brightness(101%) contrast(99%);
}

@media (min-width: 835px) {
  /* HEADER */

  .header {
    padding: 4rem;
    margin-bottom: 0;
  }

  .brand-logo {
    max-width: fit-content;
  }

  .navigation {
    gap: 4rem;
  }

  /* HERO SECTION */

  .section {
    flex-direction: row;
    padding-inline: 2rem;
    align-items: center;
  }

  .section--hero {
    position: relative;
    padding-bottom: 15rem;
  }

  .section__img-container,
  .section__text-container {
    flex: 1;
    padding: 2rem;
  }

  .section__text-container {
    text-align: left;
  }

  .section__img-container {
    order: 1;
  }

  .heading {
    margin-block: 1rem;
    font-size: 2.5rem;
  }

  .heading--hero {
    font-family: var(--font-accent);
    line-height: 1.5;
  }

  .copy--hero {
    margin-inline: 1.5rem;
  }

  .cta {
    flex-direction: row;
  }

  .cta__input,
  .cta__button {
    border-radius: 3px;
  }

  .cta__input {
    width: 55%;
    max-width: 20rem;
    font-family: var(--font-body);
  }

  .cta__button {
    padding-inline: 3rem;
  }

  .img--divider-mobile {
    display: none;
  }

  .img--divider-desktop {
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: auto;
  }
}
